<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div
        id="dropdown" 
        (click)="dropClick()" 
        style="margin-top:150px" 
        class="d-flex justify-content-end div_img">
            <img style="width:50px;height: 50px; border-radius: 50%;" src="../../../assets/img/img_profile.jpg" alt="profile" />
        </div>

        <ul class="nav show_dropdown nav2" role="tablist" #navdrop id="navdrop">
        
            <li class="nav-item ">
               <a class="nav-link " routerLink="/profile" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/login" role="tab" data-toggle="tab">Logout</a>
            </li>

         </ul>

       
        <br/>
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col col-xl-10">
  
          <div class="card">
            <div class="card-body p-5">
  
             <app-add-todo
             (addEvent)="addTask($event)"
             ></app-add-todo>
  
  
              <!-- Tabs content -->
              <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                  aria-labelledby="ex1-tab-1">
                  <ul 
                  *ngFor="let todo of todos"
                  
                  style="width:100%" 
                  class="list-group mb-0">
                    <li
                    [ngClass]="{'task-completed' : todo.completed}"
                    class="item_task list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    
                   >
                    
                    <input 
                    class="form-check-input me-2" 
                    type="checkbox"
                    aria-label="..."
                    (change)="checkClick(todo)"
                    [checked]="todo.completed" />

                     <div *ngIf="todo.completed; else notcompleted" ><s>{{todo.text}}</s> </div>
                     <ng-template #notcompleted>
                      {{todo.text}}
                    </ng-template>
                      <span
                      (click)="delete(todo)"
                      style="color:red; margin-left: auto;font-weight: bold;font-size: 20px;cursor: pointer;">
                      X</span>
                    </li>
                    
                  </ul>
                </div>
              </div>
              <!-- Tabs content -->
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  