<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="container rounded bg-white mt-5 mb-5">
            <div style="margin-left:15px;">
                <span><a routerLink="/todos" >
                  <img style="width:30px;margin-top:10px" src="../../../assets/img/arrow.svg"/>
                </a></span>
             
            </div>
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img style="width:100px; height: 100px;" class="rounded-circle mt-5"
                            src="../../../assets/img/img_profile.jpg">
                        <span class="font-weight-bold">Sfar Hatem</span>
                        <span class="text-black-50">sfarhatem7@yahoo.com</span><span> </span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name" value="">
                            </div>
                            <div class="col-md-6"><label class="labels">Email</label><input type="text"
                                    class="form-control" value="" placeholder="Email"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Password</label><input type="text"
                                    class="form-control" placeholder="Password" value=""></div>
                            <div class="col-md-12"><label class="labels">Confirm Password</label><input type="text"
                                    class="form-control" placeholder="Confirm Password" value=""></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                                Profile</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>